<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470054256691-9srbp9cbqp2flat6fp7cff85bc3bu6d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470054256691-9srbp9cbqp2flat6fp7cff85bc3bu6d1</string>
	<key>API_KEY</key>
	<string>AIzaSyC62KWVr3HQLu_PnWvxK-4uV4MFEjzkeZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>470054256691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.gymtimer</string>
	<key>PROJECT_ID</key>
	<string>gymtimer-756b6</string>
	<key>STORAGE_BUCKET</key>
	<string>gymtimer-756b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470054256691:ios:89d2801cf96cf5039ae346</string>
	<key>DATABASE_URL</key>
	<string>https://gymtimer-756b6.firebaseio.com</string>
</dict>
</plist>